{% extends 'layouts/layout.html.twig' %}
{% import 'macros/advert-macros.html.twig' as advertElements %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block header %}
    <section class="dark-wrapper opaqued parallax" data-parallax="scroll" data-image-src="assets/img/bike-sunset.jpg" data-speed="0.7">
        <div class="section-inner pad-top-200">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mt30 wow text-center">
                        <h2 class="section-heading">Résultats de recherche</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock header %}

{% block content %}
    <section>
        <div class="section-inner">
            <div class="container">
                <div class="row">
                    <div id="post-sidebar" class="col-sm-3">
                        <div class="widget mb50">
                            <h4 class="widget-title">Recherche</h4>
                            {{ form(form) }}
                        </div>
                    </div>
                    <div class="col-sm-8 col-sm-offset-1">
                        <div class="row">
                        {% for advert in result.results.items %}
                            {{ advertElements.advert_block(advert, 6) }}
                        {% else %}
                            <div class="alert alert-warning" role="alert">Sorry, no bikes in stock with your criterias</div>
                        {% endfor %}
                        </div>
                        {% if result.results.items | length %}
                        <div class="row tb50">
                            {% for i in 1..(result.results.totalItemCount/result.results.itemNumberPerPage + 1) | round(0, 'floor')  %}
                                <a href="{{ url(app.request.get('_route'), app.request.query.all() | merge({page: i}) )}}" class="page-link btn btn-sm btn-primary {{ i == app.request.get('page') ? 'current' : ''  }}">{{ i }}</a>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock content %}
