{% extends 'base.html.twig' %}
{# Regarder dans config/packages/twig.yaml d'ou vient ce search #}


{% block stylesheets %}
    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('assets/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{asset('assets/css/animate.css')}}" rel="stylesheet">
    <link href="{{asset('assets/css/plugins.css')}}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{asset('assets/css/style.css')}}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{asset('assets/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
    <link href="{{asset('assets/css/pe-icons.css')}}" rel="stylesheet">
{% endblock stylesheets %}

{#<body id="page-top" class="index">#}

{% block body %}

<div class="master-wrapper">

    <div class="preloader">
        <div class="preloader-img">
            <span class="loading-animation animate-flicker"><img src="{{asset('assets/img/loading.GIF')}}" alt="loading"/></span>
        </div>
    </div>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top fadeInDown header-2" data-wow-delay="0.5s">
        <div class="top-bar smoothie hidden-xs">
            <div class="container">
                <div class="clearfix">
                    <ul class="list-inline social-links wow pull-left">
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-behance"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>

                    <div class="pull-right text-right">
                        <ul class="list-inline">
                            <li>
                                <div><a href="{{ url('accountCreateAdvert') }}"> AJOUTER UNE ANNONCE</a></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand smoothie logo" href="{{ url('home') }}"><img src="{{asset('assets/img/logo_reverse.png')}}" alt="logo"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="main-navigation">
                <ul class="nav navbar-nav navbar-right">
                    {% for menuElement in getMenu() %}
                        <li class="dropdown">
                        {% if menuElement.children | length %}
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ menuElement.title }}<span class="pe-7s-angle-down"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    {% for menuChild in menuElement.children %}
                                        <li><a href="{{ menuChild.link }}">{{ menuChild.title }}</a></li>
                                    {% endfor %}
                                </ul>
                        {% else %}
                            <a href="{{ menuElement.link }}">{{ menuElement.title }}</a>
                        {% endif %}
                        </li>
                    {% endfor %}

{#                    <li class="dropdown">#}
{#                        <a href="{{ url('register') }}" >Créer un compte</a>#}
{#                    </li>#}
                    <li><a href="#search"><i class="pe-7s-search"></i></a></li>
                    <li><a href="javascript:void(0);" class="side-menu-trigger hidden-xs"><i class="fa fa-bars"></i></a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div id="search-wrapper">
        <button type="button" class="close">×</button>
        <div class="vertical-center text-center">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
{#                    {{ form(searchForm) }}#}
                    {% include 'pages/element/search-form.html.twig' %}
                </div>
            </div>
        </div>
    </div>

    <!-- Header -->
    {% block header %}
    {% endblock header %}


    {% block content %}
    {% endblock content %}


    <div id="footer-wrapper">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-left match-height">
                        <ul class="list-inline social-links wow">
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-behance"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-6 text-right match-height">
                        <div class="vertical-center">
                            <span class="copyright">Copyright 2019. Designed by DISTINCTIVE THEMES</span>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

</div>

{#<div class="flexpanel">#}
{#    <div class="viewport-wrap">#}
{#        <div class="viewport">#}
{#            <div class="widget mb50">#}
{#                <h4 class="widget-title">Latest Articles</h4>#}
{#                <div>#}
{#                    <div class="media">#}
{#                        <div class="pull-left">#}
{#                            <img class="widget-img" src="{{asset('assets/img/widget/widget1.jpg')}}" alt="">#}
{#                        </div>#}
{#                        <div class="media-body">#}
{#                            <span class="media-heading"><a href="#">Panic In London</a></span>#}
{#                            <small class="muted">Posted 14 April 2015</small>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="media">#}
{#                        <div class="pull-left">#}
{#                            <img class="widget-img" src="{{asset('assets/img/widget/widget2.jpg')}}" alt="">#}
{#                        </div>#}
{#                        <div class="media-body">#}
{#                            <span class="media-heading"><a href="#">New iPhone News</a></span>#}
{#                            <small class="muted">Posted 14 April 2015</small>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="media">#}
{#                        <div class="pull-left">#}
{#                            <img class="widget-img" src="{{asset('assets/img/widget/widget3.jpg')}}" alt="">#}
{#                        </div>#}
{#                        <div class="media-body">#}
{#                            <span class="media-heading"><a href="#">Our Year In Review</a></span>#}
{#                            <small class="muted">Posted 14 April 2015</small>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="media">#}
{#                        <div class="pull-left">#}
{#                            <img class="widget-img" src="{{asset('assets/img/widget/widget4.jpg')}}" alt="">#}
{#                        </div>#}
{#                        <div class="media-body">#}
{#                            <span class="media-heading"><a href="#">jQuery Tutorial</a></span>#}
{#                            <small class="muted">Posted 14 April 2015</small>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="media">#}
{#                        <div class="pull-left">#}
{#                            <img class="widget-img" src="{{asset('assets/img/widget/widget5.jpg')}}" alt="">#}
{#                        </div>#}
{#                        <div class="media-body">#}
{#                            <span class="media-heading"><a href="#">Sheen Interview</a></span>#}
{#                            <small class="muted">Posted 14 April 2015</small>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="widget mb50">#}
{#                <h4 class="widget-title"><strong>Latest</strong> Articles</h4>#}
{#                <div class="tagcloud">#}
{#                    <a href="#" class="tag-link btn btn-theme btn-xs" title="3 topics">Local</a>#}
{#                    <a href="#" class="tag-link btn btn-theme btn-xs" title="3 topics">Business</a>#}
{#                    <a href="#" class="tag-link btn btn-theme btn-xs" title="3 topics">Media</a>#}
{#                    <a href="#" class="tag-link btn btn-theme btn-xs" title="3 topics">Photogtraphy</a>#}
{#                    <a href="#" class="tag-link btn btn-theme btn-xs" title="3 topics">Aid</a>#}
{#                    <a href="#" class="tag-link btn btn-theme btn-xs" title="3 topics">Fashion</a>#}
{#                    <a href="#" class="tag-link btn btn-theme btn-xs" title="3 topics">News</a>#}
{#                    <a href="#" class="tag-link btn btn-theme btn-xs" title="3 topics">Cars</a>#}
{#                    <a href="#" class="tag-link btn btn-theme btn-xs" title="3 topics">Global Affairs</a>#}
{#                    <a href="#" class="tag-link btn btn-theme btn-xs" title="3 topics">Music</a>#}
{#                    <a href="#" class="tag-link btn btn-theme btn-xs" title="3 topics">Downloads</a>#}
{#                    <a href="#" class="tag-link btn btn-theme btn-xs" title="3 topics">MP3</a>#}
{#                </div>#}
{#            </div>#}
{#            <div class="widget about-us-widget mb50">#}
{#                <h4 class="widget-title">About Kompleet</h4>#}
{#                <p>Professionally monetize team building materials for 24/7 results. Holisticly transition corporate platforms vis-a-vis cutting-edge experiences. Dynamically strategize ubiquitous applications for premier initiatives. Interactively seize resource sucking niche markets.</p>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}

{% endblock body %}

{% block javascripts %}
<script src="{{asset('assets/js/jquery.js')}}"></script>
<script src="{{asset('assets/js/bootstrap.min.js')}}"></script>
<script src="{{asset('assets/js/plugins.js')}}"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="{{asset('assets/js/init.js')}}"></script>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<script type="text/javascript">
    $(document).ready(function() {
        'use strict';
        jQuery('#headerwrap').backstretch([
            "{{asset('assets/img/shop/hero1.jpeg')}}",
            "{{asset('assets/img/shop/hero2.jpg')}}",
            "{{asset('assets/img/shop/hero3.jpeg')}}"
        ], {
            duration: 8000,
            fade: 500
        });
    });
</script>
{% endblock javascripts %}

{#</body>#}

